<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessWideConfig" type="PTR.ProcessWideConfigSection, PTR"/>
		<section name="TestingConfigurations" type="PTR.TestingConfigurationsSection, PTR"/>
		<section name="SharedResources" type="PTR.SharedResourcesSection, PTR"/>
	</configSections>

	<ProcessWideConfig LoggingLocation="C:\TestExecutionLocation"
						SemicolonSeparatedFilesHavingTestCases=""
						TestRunner="Nunit3TestRunner.bat"
						MakeTestRunnerAsChildProcessOfPTR="false"
						ExecutionLocation="C:\TestExecutionLocation"
						TestingProjectLocation="C:\TestingProject"
						LoadTestingProjectBinariesFromItsOwnLocationOnly="false"
						TestCasesExtractor="DotNetTestCasesExtractor.exe"
						TestCategories=""
						TestClasses=""
						SemicolonSeparatedTestCases=""
						SemicolonSeparatedTestCasesToBeSkipped=""
						TimesToRerunFailedTestCases="0"
						MinBucketSize="3"
						MaxBucketSize="50"
						ConcurrentUnit="2"
						ReportProcessor="NUnitReportUtility.exe"
						CleanAfterCompletion="false" />

	<TestingConfigurations>
		<Config ID="Config_1"
				  IsEnabled="true"
				  SemicolonSeparatedFilesHavingTestCases=""
				  ReportingLocation="C:\TestExecutionLocation\TestResults_1.xml" />
		
		<Config ID="Config_2"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  ReportingLocation="C:\TestExecutionLocation\TestResults_2.xml" />
	</TestingConfigurations>

	<!--<SharedResources>
		<add ID="SR_1" SemicolonSeparatedResources="VAL:=:3"/>
		<add ID="SR_2" SemicolonSeparatedResources="VAL:=:2"/>-->
	</SharedResources>
</configuration>

<!--
Complete list of attributes:

		LoggingLocation											(Applicable to ProcessWideConfig only)
		MaxThreads 												(Applicable to ProcessWideConfig only)
		BeforeTestExecution 									(Applicable to ProcessWideConfig only)
		AfterTestExecution										(Applicable to ProcessWideConfig only)
		
		ID														(Applicable to TestingConfigurations/Config only)
		SemicolonSeparatedConfigResultsToBeMergedInto			(Applicable to TestingConfigurations/Config only)
		IsEnabled												(Applicable to TestingConfigurations/Config only)
		ReportingLocation										(Applicable to TestingConfigurations/Config only)
		
		SemicolonSeparatedFilesHavingTestCases					(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TestRunner												(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		MakeTestRunnerAsChildProcessOfPTR						(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		WorkingDirectoryOfTestRunner							(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		ExecutionLocation										(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TestingProjectLocation									(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		LoadTestingProjectBinariesFromItsOwnLocationOnly		(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TestCasesExtractor										(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TestCategories											(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TestClasses												(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		SemicolonSeparatedTestCases								(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		SemicolonSeparatedTestCasesToBeSkipped					(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		BeforeRunConfigEditor									(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		TimesToRerunFailedTestCases								(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		BeforeRerunConfigEditor									(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		ThreadCount												(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		MinBucketSize											(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		MaxBucketSize											(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		ConcurrentUnit											(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		ReportProcessor											(Applicable to both ProcessWideConfig and TestingConfigurations/Config)
		CleanAfterCompletion									(Applicable to both ProcessWideConfig and TestingConfigurations/Config)

-->