<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessWideConfig" type="PTR.ProcessWideConfigSection, PTR"/>
		<section name="TestingConfigurations" type="PTR.TestingConfigurationsSection, PTR"/>
		<section name="SharedResources" type="PTR.SharedResourcesSection, PTR"/>
	</configSections>

	<ProcessWideConfig LoggingLocation="C:\CanBeDel\TestExecutionLocation"
                     MaxThreads="5"
                     BeforeTestExecution=""
                     AfterTestExecution="C:\Users\aseem\Desktop\ParallelTestExecution\XmlToHtml.bat"
                     SemicolonSeparatedFilesHavingTestCases="xyz1.dll;xyz2.dll"
                     TestRunner="junitRunner"
                     MakeTestRunnerAsChildProcessOfPTR="true"
                     WorkingDirectoryOfTestRunner=""
                     ExecutionLocation="."
                     LoadTestingProjectBinariesFromItsOwnLocationOnly="false"
                     TestCasesExtractor="C:\testCasesExtractorModule.jar @Param command-line-parameter"
                     TestCategories="Catgory_1^Catgory_2 | Catgory_1^!Catgory_2 | Catgory_1^Catgory_2^!Catgory_3"
                     TestClasses="Class1|Class1"
                     SemicolonSeparatedTestCases="case1;case2"
                     SemicolonSeparatedTestCasesToBeSkipped="case1;case3"
                     BeforeRunConfigEditor="someExecutable"
                     TimesToRerunFailedTestCases="0"
                     BeforeRerunConfigEditor="someExecutable"
                     ThreadCount="1"
                     MinBucketSize="3"
                     MaxBucketSize="20"
                     ConcurrentUnit="1"
                     ReportProcessor="someExecutable"
                     CleanAfterCompletion="false" />

	<TestingConfigurations>
		<Config ID="mstest"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\MsTestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  WorkingDirectoryOfTestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\MsTestProject_2\CalculatorTestingProject\bin\Debug"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResults.trx"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\MsTestProject_2\CalculatorTestingProject\bin\Debug"
				  LoadTestingProjectBinariesFromItsOwnLocationOnly="false"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:XPaths.txt @Param/Path:SampleComplexXmlConfigFile.xml"
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor=""
				  ThreadCount="5"
				  MinBucketSize="3"
				  MaxBucketSize="8"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\TrxUtil\bin\Debug\TrxUtil.exe"
				  CleanAfterCompletion="false" />
		
		<Config ID="NUnit-ie"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResults.xml"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\NUnitTestProject_3\NUnitTestProject\bin\Debug"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe @Param false"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRerunConfigEditor=""
				  TimesToRerunFailedTestCases="0"
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:C:\Users\aseem\Desktop\XmlDoc.xml @Param/Path:C:\Users\aseem\Desktop\XPaths.txt @Param/SharedResources:SR_1;SR_2 @Param/SharedResources:SR_4;SR_3"
				  ThreadCount="4"
				  MinBucketSize="3"
				  MaxBucketSize="4"
				  ConcurrentUnit="1"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="true" />
    
    <Config ID="NUnit-ie2"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResults.xml"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\NUnitTestProject_3\NUnitTestProject\bin\Debug"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRerunConfigEditor=""
				  TimesToRerunFailedTestCases="0"
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:C:\Users\aseem\Desktop\XmlDoc.xml @Param/Path:C:\Users\aseem\Desktop\XPaths.txt @Param/SharedResources:SR_1;SR_2 @Param/SharedResources:SR_3;SR_4"
				  ThreadCount="4"
				  MinBucketSize="3"
				  MaxBucketSize="4"
				  ConcurrentUnit="1"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="true" />
		
		<Config ID="MsTestTestCases"
				  IsEnabled="true"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases="CalculatorTestingProject.dll;"
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\MsTestRunner.bat"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation\2"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResultsOneP_2.xml"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\MsTestProject_2\CalculatorTestingProject\bin\Debug"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses="Class1|Class1"
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:SampleComplexXmlConfigFile.xml @Param/Path:XPaths.txt @Param/SharedResources:SR_1;SR_2"
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:SampleComplexXmlConfigFile.xml @Param/Path:XPaths.txt @Param/SharedResources:SR_1;SR_2"
				  ThreadCount="6"
				  MinBucketSize="3"
				  MaxBucketSize="3"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\TrxUtil\bin\Debug\TrxUtil.exe"
				  CleanAfterCompletion="true" />
	
		<Config ID="RahulOneP"
				  IsEnabled="true"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResultsOneP.xml"
				  TestingProjectLocation="..\..\DeleteIt\ThisFileCanHaveAnyName.xml"
				  LoadTestingProjectBinariesFromItsOwnLocationOnly="true"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe  @Param false"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor=""
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor=""
				  ThreadCount="4"
				  MinBucketSize="3"
				  MaxBucketSize="10"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="false" />

    <Config ID="RelativeToPTR"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResultsOneP.xml"
				  TestingProjectLocation=".."
				  LoadTestingProjectBinariesFromItsOwnLocationOnly="true"
				  TestCasesExtractor="DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor=""
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor=""
				  ThreadCount="4"
				  MinBucketSize="3"
				  MaxBucketSize="10"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="false" />

    <Config ID="XUnitTestCases"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResultsOneP.xml"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\XUnit\samples.xunit-master"
				  LoadTestingProjectBinariesFromItsOwnLocationOnly="true"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\VS2017\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor=""
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor=""
				  ThreadCount="5"
				  MinBucketSize="3"
				  MaxBucketSize="5"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="false" />	
	</TestingConfigurations>

	<!--<SharedResources>
		<add ID="SR_1" SemicolonSeparatedResources="SeleniumHub:=:https:\\99999\\10101010;DatabaseServer:=:ConnectionString 999999"/>
		<add ID="SR_2" SemicolonSeparatedResources="SeleniumHub:=:https:\\AAAAA\\BBBBB;DatabaseServer:=:ConnectionString AAAAA"/>
	</SharedResources>-->
	
	<SharedResources>
		<add ID="SR_1" SemicolonSeparatedResources="VAL_1:=:11"/>
		<add ID="SR_2" SemicolonSeparatedResources="VAL_1:=:22;"/>
		<add ID="SR_3" SemicolonSeparatedResources="VAL_2:=:33"/>
		<add ID="SR_4" SemicolonSeparatedResources="VAL_2:=:44"/>
	</SharedResources>

	<!--Documentation:
      - TestRunner: Possible values = junit, testNG, NUnit, MsTest, xUnit-->
</configuration>